<div id="newBg" class="flex flex-row justify-end">
  <div class="pr-16 mt-72">
    <h1 class="text-8xl text-white mb-2">Cinema Ironhack</h1>
    <a href="/movies"><button
        class="text-2xl text-white border-solid bg-sky-600 pt-1 pb-1 pl-2 pr-2"
      >View all movies</button></a>
  </div>
</div>